.read-more, .read-less {
    cursor: pointer;
    color: #08A7DE;
}
.label-default {
    font-size: 16px !important;
}

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Varela+Round );

/*//Mixins*/
@mixin rel-left{
    position:relative; float:left;
}
@mixin font-size($sizeValue: 1.4){
    font-size:($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}
@mixin breakpoint($point){
    @if $point == large{
        @media (min-width:768px){@content;}
    }
    @else if $point == small{
        @media (max-width:767px){@content;}
    }
}

/*//Variables*/
$footHeight : 60px;
$white : #ffffff;
$lightGray : #e5e5e5;
$gray : #ccc;
$midGray : #666;
$black : #282828;
$highlight : #55acee;
$link : #e76043;
$error : #a74734;

//Site Styling
  *, *:before, *:after{
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      box-sizing:border-box;
  }
img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

html, body{
    height:100%;
}
.body{
    font-size:62.5%;
    font-family:'varela round', sans-serif;
    box-sizing:border-box;
    background:#333;
    padding:0; margin:0;
}
.wrap{
    max-width:1280px; min-height:100%;
    height:auto !important;
    position:relative;
    margin-top:0; margin-right:auto; margin-bottom:-$footHeight; margin-left:auto;

.push{
    padding:0 0 $footHeight 0;
}
}
.intro{
    width:50%;
    position:relative;
    margin:0 auto; padding:20px 0;
h1{
    color:white;
    text-align:center;
@include font-size(2.0);
}
p{
    color:white;
    line-height:1.6;
@include font-size(1.0);
}
}
.footer{
    width:100%; height:$footHeight;
    position:relative; float:left;
a{
    border-bottom:none;
@include transition(border 0.5s ease-in-out);
&:hover{
     border-bottom:1px solid white;
 }
}
p{
    color:white;
    text-align:center;
    padding:10px;
@include font-size(0.7);
}
}

/*// Plugin Styling*/
   a{
       color:$link;
       text-decoration:none;
   @include transition(all 0.3s ease-in-out);
&:hover{
     text-decoration:none;
 }
}
.mAccord{
    width:100%;
    position:relative;
    margin:0 auto 20px; padding:0;
    display:table;
    list-style-type:none;
}
.title{
    background:$highlight;
    color:white;
    padding:8px;
    font-weight:normal;
    text-transform:uppercase;
@include font-size(1.4);
}
.maTrigger{
    width:100%;
    margin:0; padding:15px;
    font-size:1.8em; font-weight:normal;
    line-height:1.2;
@include rel-left;
@include transition(all 0.3s ease-in-out);
&:hover{
     cursor:pointer;
     background:$gray;
.fa{color:$midGray;}
}
&.active{
&:hover{
     background:$lightGray;
 }
.fa{
    color:$error;
@include transform(rotate(45deg));
}
}

.fa{
    color:#ccc;
    position:absolute; top:0; right:10px; bottom:0;
    height:20px;
    margin:auto;
@include transition(all 0.3s ease-in-out);
}
}

.maContent{
    color:#e5e5e5;
    overflow:hidden;
    background:$white;
    width:100%;
    padding:4px 10px;
    line-height:1.8;
    display:none;
@include rel-left;
&:after{
     content:'';
     position:absolute; left:10%; bottom:0%;
     width:80%; height:40%;
     z-index:-1;
 @include border-radius(50%);
 @include box-shadow(0 7px 16px rgba(0,0,0,0.4));
 }
.full{
    width:100%;
@include rel-left;
label{
    font-size:12px;
    width:100%;
@include rel-left;
}
.roArea{
    width:100%;
    font-size:14px;
    padding:6px; margin-bottom:12px;
    line-height:20px;
@include rel-left;
}
}
.a-linkRow{
    width:100%;
    position:relative; float:left;
a{
    position:relative; float:left;
    margin-right:8px;
    font-size:16px;
&:hover{
.fa{
    color:$link;
}
}
.fa{
    margin-right:4px;
    color:$gray;
@include transition(all 0.3s ease-in-out);
}
}
}
.a-imgContain{
    position:relative; float:left;
    width:100%;
}
.a-img{
    display: table;
    margin: 8px auto; padding: 1.6em;
    background-color: rgba(40,40,40,0.1);
    position:relative;
    z-index:10;
@include border-radius(50%);
@include box-shadow(0 0 6px rgba(0,0,0,0.3) inset, 0 0 1px rgba(0,0,0,0.4) inset);
span{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
@include border-radius(50%);
@include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.4));
img{
    max-width:150px;
}
}
}
}

@media (min-width: 280px) and (max-width: 440px) {

    .videoButton {
        border: 0;
        display: block;
        cursor: pointer;
        width: 50%;
        font-size: 10px;
        padding: 1em 2em;
        border-radius: 39px;
        font-family: 'Open Sans', sans-serif;
        margin-left: 35%;
    }

    .backgroundChange {
        background: #E9F7FC;
    }

    .documentationButton {
        display: inline-block;
        padding: 1em 2em;
        margin-top: 2%;
        border: 0;
        border-radius: 39px;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        background: #8BC34A;
        margin-left: 20%;
        width: 50%;
    }

    .frameworkTextDivAlign {
        height: 149px;
        border-bottom: 2px solid #E1BEE7;
        text-align-last: center;
    }

    .frameworkPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 43px;
        line-height: 131px;
        color: #08A7DE;
    }

    .moquiPAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 39px;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .artifactTextDivAlign {
        height: 149px;
        border-bottom: 2px solid #E1BEE7;
        text-align-last: center;
    }

    .artifactPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 43px;
        line-height: 131px;
        color: #08A7DE;
    }

    .mantlePAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 39px;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .applicationDivAlign {
        height: 149px;
        text-align-last: center;
    }

    .applicationPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 43px;
        line-height: 131px;
        color: #08A7DE;
    }

    .featureDivAlign {
        text-align-last: center;
    }

    .moquiTextAlign {
        margin-top: 7rem;
        margin-left: 13%;
    }

    .appsPAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 39px;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .benefitsPAlign {
        display: none;
    }

    .endUserPAlign {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin-bottom: 10%;
    }

    .commercialContainerPAlign {
        display: none;
    }

    .commericalPAlign {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    .customSoftwareContainerPAlign {
        display: none;
    }

    .customSoftwarePAlign {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    .developersContainerPAlign {
        display: none;
    }

    .developersPAlign {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    .illustrationAlign {
        margin-top: 100%;
        opacity: 0%;
    }


    .videoDocumentAlign {
        margin-left: -17.5%;
        margin-top: -180%;
    }

    .ecosystemFeaturesImageAlign {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .latestReleaseHeadingAlign {
        color: rgba(0, 0, 0, 0.54);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 34px !important;
        line-height: 100% !important;
        text-align: center;
    }

    .sourceForceAlign {
        margin: 1rem;
        margin-top: 5%;
        width: 40%
    }

    .githubLogoAlign {
        width: 30%
    }

    .decorationImageAlign {
        margin: 1rem;
        margin-left: 32%;
        width: 64%
    }

    .accordion_head {
        background-color: #8BC34A;
        color: #fff;
        font-size: 27px;
        padding: 12px 25px;
        border-radius: 5px;
        line-height: normal;
        text-align: center;
    }

    .resourceModelTextAlign {
        color: #08A7DE;
        font-weight: 600;
        font-size: 32px !important;
        text-align: center;
        padding: 12px 25px;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif
    }

    .modelTextAlign {
        font-family: 'Open Sans', sans-serif;
    }

    .chevronIconAlign {
        color: #08A7DE;
        float: right;
    }

    .codeReviewChevronAlign {
        color: #08A7DE;
        float: right;
    }

    .benefitsChevronAlign {
        color: #08A7DE;
        float: right;
    }

    .mt-10 {
        margin-top: 10%;
    }
}

@media (min-width: 441px) and (max-width: 650px) {

    .videoButton {
        border: 0;
        display: block;
        cursor: pointer;
        width: 45%;
        margin-left: 27%;
        padding: 1em 2em;
        border-radius: 39px;
        font-family: 'Open Sans', sans-serif;
    }

    .backgroundChange {
        background: #E9F7FC;
    }

    .documentationButton {
        margin-top: 2%;
        display: inline-block;
        padding: 1em 2em;
        border: 0;
        border-radius: 39px;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        background: #8BC34A;
        margin-left: -1%;
        width: 45%;
    }

    .frameworkTextDivAlign {
        height: 149px;
        border-bottom: 2px solid #E1BEE7;
        text-align-last: center;
    }

    .frameworkPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 43px;
        line-height: 131px;
        color: #08A7DE;
    }

    .moquiPAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 39px;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .artifactTextDivAlign {
        height: 149px;
        border-bottom: 2px solid #E1BEE7;
        text-align-last: center;
    }

    .artifactPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 43px;
        line-height: 131px;
        color: #08A7DE;
    }

    .mantlePAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 39px;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .applicationDivAlign {
        height: 149px;
        text-align-last: center;
    }

    .applicationPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 43px;
        line-height: 131px;
        color: #08A7DE;
    }

    .featureDivAlign {
        text-align-last: center;
    }

    .moquiTextAlign {
        margin-top: 7rem;
        margin-left: 13%;
    }

    .appsPAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 39px;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .benefitsPAlign {
        display: none;
    }

    .endUserPAlign {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin-bottom: 5%;
    }

    .commercialContainerPAlign {
        display: none;
    }

    .commericalPAlign {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    .customSoftwareContainerPAlign {
        display: none;
    }

    .customSoftwarePAlign {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    .developersContainerPAlign {
        display: none;
    }

    .developersPAlign {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    .illustrationAlign {
        margin-top: 100%;
        opacity: 0%;
    }


    .videoDocumentAlign {
        margin-top: -180%;
    }

    .ecosystemFeaturesImageAlign {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .latestReleaseHeadingAlign {
        color: rgba(0, 0, 0, 0.54);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 34px !important;
        line-height: 100% !important;
        text-align: center;
    }

    .sourceForceAlign {
        margin: 1rem;
        margin-top: 5%;
        width: 40%
    }

    .githubLogoAlign {
        width: 30%
    }

    .decorationImageAlign {
        margin: 1rem;
        margin-left: 32%;
        width: 64%
    }

    .accordion_head {
        background-color: #8BC34A;
        color: #fff;
        font-size: 27px;
        padding: 12px 25px;
        border-radius: 5px;
        line-height: normal;
        text-align: center;
    }

    .resourceModelTextAlign {
        color: #08A7DE;
        font-weight: 600;
        font-size: 32px !important;
        text-align: center;
        padding: 12px 25px;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif
    }

    .modelTextAlign {
        font-family: 'Open Sans', sans-serif;
    }

    .chevronIconAlign {
        color: #08A7DE;
        float: right;
    }

    .codeReviewChevronAlign {
        color: #08A7DE;
        float: right;
    }

    .benefitsChevronAlign {
        color: #08A7DE;
        float: right;
    }

    .mt-10 {
        margin-top: 10%;
    }
}

@media (min-width: 651px) and (max-width: 767px) {

    .videoButton {
        position: relative;
        border: 0;
        display: block;
        cursor: pointer;
        width: 40%;
        margin-left: 27%;
        padding: 1em 2em;
        border-radius: 39px;
        font-family: 'Open Sans', sans-serif;
    }

    .backgroundChange {
        background: #E9F7FC;
    }

    .documentationButton {
        display: inline-block;
        margin-top: 2%;
        padding: 1em 2em;
        border: 0;
        border-radius: 39px;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        background: #8BC34A;
        margin-left: -6%;
        width: 40%;
    }

    .frameworkTextDivAlign {
        height: 149px;
        border-bottom: 2px solid #E1BEE7;
        text-align-last: center;
    }

    .frameworkPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 43px;
        line-height: 131px;
        color: #08A7DE;
    }

    .moquiPAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 39px;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .artifactTextDivAlign {
        height: 149px;
        border-bottom: 2px solid #E1BEE7;
        text-align-last: center;
    }

    .artifactPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 43px;
        line-height: 131px;
        color: #08A7DE;
    }

    .mantlePAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 39px;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .applicationDivAlign {
        height: 149px;
        text-align-last: center;
    }

    .applicationPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 43px;
        line-height: 131px;
        color: #08A7DE;
    }

    .featureDivAlign {
        text-align-last: center;
    }

    .moquiTextAlign {
        margin-top: 7rem;
        margin-left: 13%;
    }

    .appsPAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 39px;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .benefitsPAlign {
        display: none;
    }

    .endUserPAlign {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin-bottom: 5%;
    }

    .commercialContainerPAlign {
        display: none;
    }

    .commericalPAlign {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    .customSoftwareContainerPAlign {
        display: none;
    }

    .customSoftwarePAlign {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    .developersContainerPAlign {
        display: none;
    }

    .developersPAlign {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    .illustrationAlign {
        margin-top: 100%;
        opacity: 0%;
    }


    .videoDocumentAlign {
        margin-top: -170%;
    }

    .ecosystemFeaturesImageAlign {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .latestReleaseHeadingAlign {
        color: rgba(0, 0, 0, 0.54);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 34px !important;
        line-height: 100% !important;
        text-align: center;
    }

    .sourceForceAlign {
        margin: 1rem;
        margin-top: 5%;
        width: 40%
    }

    .githubLogoAlign {
        width: 30%
    }

    .decorationImageAlign {
        margin: 1rem;
        margin-left: 32%;
        width: 64%
    }

    .accordion_head {
        background-color: #8BC34A;
        color: #fff;
        font-size: 27px;
        padding: 12px 25px;
        border-radius: 5px;
        line-height: normal;
        text-align: center;
    }

    .resourceModelTextAlign {
        color: #08A7DE;
        font-weight: 600;
        font-size: 32px !important;
        text-align: center;
        padding: 12px 25px;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif
    }

    .modelTextAlign {
        font-family: 'Open Sans', sans-serif;
    }

    .chevronIconAlign {
        color: #08A7DE;
        float: right;
    }

    .codeReviewChevronAlign {
        color: #08A7DE;
        float: right;
    }

    .benefitsChevronAlign {
        color: #08A7DE;
        float: right;
    }

    .mt-10 {
        margin-top: 10%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .videoButton {
        padding: 1em 2em;
        border-radius: 39px;
        font-family: 'Open Sans', sans-serif;
        border: 0;
        display: block;
        cursor: pointer;
        margin-left: 35%;
    }

    .documentationButton {
        position: absolute;
        display: inline-block;
        padding: 1em 2em;
        border: 0;
        border-radius: 39px;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        background: #8BC34A;
        margin-left: -37%;
    }

    .frameworkTextDivAlign {
        height: 149px;
        border-right: 2px solid #E1BEE7;
        text-align-last: center;
    }

    .frameworkPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 131px;
        color: #08A7DE;
    }

    .moquiPAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3rem;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .artifactTextDivAlign {
        height: 149px;
        text-align-last: center;

    }

    .artifactPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 131px;
        color: #08A7DE;
    }

    .mantlePAlign {
        position: absolute;
        height: 87px;
        left: 26%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3rem;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .applicationDivAlign {
        height: 149px;
        border-left: 2px solid #E1BEE7;
        text-align-last: center;
    }

    .applicationPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 131px;
        text-align: center;
        color: #08A7DE;
    }

    .moquiTextAlign {
        margin-top: 4rem;
        margin-left: 10%;
    }

    .mt-10 {
        margin-top: 5%;
    }

    .appsPAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3rem;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .benefitsPAlign {
        width: 0;
        height: 0;
        margin: .5em;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #08A7DE;
        border-style: solid;
        border-width: 0 0.5rem 1rem;
        transform: rotate(90deg);
    }

    .endUserPAlign {
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        margin-left: -5%;
    }

    .githubLogoAlign {
        width: 20%
    }

    .commercialContainerPAlign {
        width: 0;
        height: 0;
        margin: .5em;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #08A7DE;
        border-style: solid;
        border-width: 0 0.5rem 1rem;
        transform: rotate(90deg);
    }

    .commericalPAlign {
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        margin-left: -5%;
    }

    .customSoftwareContainerPAlign {
        width: 0;
        height: 0;
        margin: .5em;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #08A7DE;
        border-style: solid;
        border-width: 0 0.5rem 1rem;
        transform: rotate(90deg);
    }

    .customSoftwarePAlign {
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        margin-left: -5%
    }

    .developersContainerPAlign {
        width: 0;
        height: 0;
        margin: .5em;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #08A7DE;
        border-style: solid;
        border-width: 0 0.5rem 1rem;
        transform: rotate(90deg);
    }

    .developersPAlign {
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        margin-left: -5%
    }

    .illustrationAlign {
        margin-top: 30%
    }

    .videoDocumentAlign {
        margin-left: -11.5%; margin-top: 5%
    }

    .ecosystemFeaturesImageAlign {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }

    .latestReleaseHeadingAlign {
        color: rgba(0, 0, 0, 0.54);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 35px !important;
        line-height: 100%
    }

    .sourceForceAlign {
        margin: 1rem;
        margin-top: 6%;
        width: 20%
    }

    .decorationImageAlign {
        margin: 1rem;
        margin-left: 7%;
        width: 33%
    }

    .accordion_head {
        background-color: #8BC34A;
        color: #fff;
        font-size: 24px;
        padding: 12px 25px;
        border-radius: 5px;
        font-stretch: normal;
        line-height: normal;
    }

    .resourceModelTextAlign {
        color: black;
        font-size: 32px;
        padding: 12px 25px;
        border-radius: 5px;
        font-stretch: normal;
        line-height: normal;
        font-family: 'Open Sans', sans-serif
    }

    .modelTextAlign {
        font-family: 'Open Sans', sans-serif;
    }

    .chevronIconAlign {
        color: #08A7DE;
        float: right;
    }

    .codeReviewChevronAlign {
        color: #08A7DE;
        float: right;
    }

    .benefitsChevronAlign {
        color: #08A7DE;
        float: right;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .videoButton {
        padding: 1em 2em;
        border-radius: 39px;
        font-family: 'Open Sans', sans-serif;
        border: 0;
        display: block;
        cursor: pointer;
    }

    .documentationButton {
        position: absolute;
        display: inline-block;
        padding: 1em 2em;
        border: 0;
        border-radius: 39px;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        background: #8BC34A;
        margin-left: -75%;
    }

    .frameworkTextDivAlign {
        height: 149px;
        border-right: 2px solid #E1BEE7;
        text-align-last: center;
    }

    .frameworkPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 131px;
        color: #08A7DE;
    }

    .moquiPAlign {
        position: absolute;
        height: 87px;
        left: 30%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .artifactTextDivAlign {
        height: 149px;
        text-align-last: center;

    }

    .artifactPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 131px;
        color: #08A7DE;
    }

    .mantlePAlign {
        position: absolute;
        height: 87px;
        left: 23.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .applicationDivAlign {
        height: 149px;
        border-left: 2px solid #E1BEE7;
        text-align-last: center;
    }

    .applicationPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 131px;
        text-align: center;
        color: #08A7DE;
    }

    .moquiTextAlign {
        margin-top: 20rem;
        margin-left: -70%;
    }

    .mt-10 {
        margin-top: 5%;
    }

    .appsPAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .benefitsPAlign {
        width: 0;
        height: 0;
        margin: .5em;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #08A7DE;
        border-style: solid;
        border-width: 0 0.5rem 1rem;
        transform: rotate(90deg);
    }

    .endUserPAlign {
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        margin-left: -5%;
    }

    .githubLogoAlign {
        width: 20%
    }

    .commercialContainerPAlign {
        width: 0;
        height: 0;
        margin: .5em;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #08A7DE;
        border-style: solid;
        border-width: 0 0.5rem 1rem;
        transform: rotate(90deg);
    }

    .commericalPAlign {
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        margin-left: -5%;
    }

    .customSoftwareContainerPAlign {
        width: 0;
        height: 0;
        margin: .5em;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #08A7DE;
        border-style: solid;
        border-width: 0 0.5rem 1rem;
        transform: rotate(90deg);
    }

    .customSoftwarePAlign {
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        margin-left: -5%
    }

    .developersContainerPAlign {
        width: 0;
        height: 0;
        margin: .5em;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #08A7DE;
        border-style: solid;
        border-width: 0 0.5rem 1rem;
        transform: rotate(90deg);
    }

    .developersPAlign {
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        margin-left: -5%
    }

    .illustrationAlign {
        margin-top: 4%
    }

    .videoDocumentAlign {
        margin-left: -3.5%; margin-top: -5%
    }

    .ecosystemFeaturesImageAlign {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }

    .latestReleaseHeadingAlign {
        color: rgba(0, 0, 0, 0.54);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 30px !important;
        line-height: 100%
    }

    .sourceForceAlign {
        margin: 1rem;
        margin-top: 6%;
        width: 20%
    }

    .decorationImageAlign {
        margin: 1rem;
        margin-left: 7%;
        width: 33%
    }

    .accordion_head {
        background-color: #8BC34A;
        color: #fff;
        font-size: 24px;
        padding: 12px 25px;
        border-radius: 5px;
        font-stretch: normal;
        line-height: normal;
    }

    .resourceModelTextAlign {
        color: black;
        font-size: 32px;
        padding: 12px 25px;
        border-radius: 5px;
        font-stretch: normal;
        line-height: normal;
        font-family: 'Open Sans', sans-serif
    }

    .modelTextAlign {
        font-family: 'Open Sans', sans-serif;
    }

    .chevronIconAlign {
        color: #08A7DE;
        float: right;
    }

    .codeReviewChevronAlign {
        color: #08A7DE;
        float: right;
    }

    .benefitsChevronAlign {
        color: #08A7DE;
        float: right;
    }

}

@media (min-width: 1200px) {

    .videoButton {
        padding: 1em 2em;
        border-radius: 39px;
        font-family: 'Open Sans', sans-serif;
        border: 0;
        display: block;
        cursor: pointer;
    }

    .documentationButton {
        position: absolute;
        display: inline-block;
        padding: 1em 2em;
        border: 0;
        border-radius: 39px;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        background: #8BC34A;
        margin-left: -75%;
    }

    .frameworkTextDivAlign {
        height: 149px;
        border-right: 2px solid #E1BEE7;
        text-align-last: center;
    }

    .frameworkPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 5rem;
        line-height: 131px;
        color: #08A7DE;
    }

    .moquiPAlign {
        position: absolute;
        height: 87px;
        left: 30%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 4rem;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .artifactTextDivAlign {
        height: 149px;
        text-align-last: center;

    }

    .artifactPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 47px;
        line-height: 131px;
        color: #08A7DE;
        padding-left: 4rem;
    }

    .mantlePAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 4rem;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .applicationDivAlign {
        height: 149px;
        border-left: 2px solid #E1BEE7;
        text-align-last: center;
    }

    .applicationPAlign {
        position: relative;
        height: 131px;
        top: calc(50% - 131px / 2 - 19.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 5rem;
        line-height: 131px;
        text-align: center;
        color: #08A7DE;
    }

    .moquiTextAlign {
        margin-top: 20rem;
        margin-left: -70%;
    }

    .mt-10 {
        margin-top: 5%;
    }

    .appsPAlign {
        position: absolute;
        height: 87px;
        left: 28.02%;
        right: 21.18%;
        top: calc(20% - 87px / 2 + 83.5px);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 4rem;
        line-height: 87px;
        color: rgba(0, 0, 0, 0.54);
    }

    .benefitsPAlign {
        width: 0;
        height: 0;
        margin: .5em;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #08A7DE;
        border-style: solid;
        border-width: 0 0.5rem 1rem;
        transform: rotate(90deg);
    }

    .endUserPAlign {
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        margin-left: -5%;
    }

    .githubLogoAlign {
        width: 20%
    }

    .commercialContainerPAlign {
        width: 0;
        height: 0;
        margin: .5em;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #08A7DE;
        border-style: solid;
        border-width: 0 0.5rem 1rem;
        transform: rotate(90deg);
    }

    .commericalPAlign {
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        margin-left: -5%;
    }

    .customSoftwareContainerPAlign {
        width: 0;
        height: 0;
        margin: .5em;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #08A7DE;
        border-style: solid;
        border-width: 0 0.5rem 1rem;
        transform: rotate(90deg);
    }

    .customSoftwarePAlign {
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        margin-left: -5%
    }

    .developersContainerPAlign {
        width: 0;
        height: 0;
        margin: .5em;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #08A7DE;
        border-style: solid;
        border-width: 0 0.5rem 1rem;
        transform: rotate(90deg);
    }

    .developersPAlign {
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        margin-left: -5%
    }

    .illustrationAlign {
        margin-top: 4%
    }

    .videoDocumentAlign {
        margin-left: -3.5%; margin-top: -5%
    }

    .ecosystemFeaturesImageAlign {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }

    .latestReleaseHeadingAlign {
        color: rgba(0, 0, 0, 0.54);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 30px !important;
        line-height: 100%
    }

    .sourceForceAlign {
        margin: 1rem;
        margin-top: 6%;
        width: 20%
    }

    .decorationImageAlign {
        margin: 1rem;
        margin-left: 7%;
        width: 33%
    }

    .accordion_head {
        background-color: #8BC34A;
        color: #fff;
        font-size: 24px;
        padding: 12px 25px;
        border-radius: 5px;
        font-stretch: normal;
        line-height: normal;
    }

    .resourceModelTextAlign {
        color: black;
        font-size: 32px;
        padding: 12px 25px;
        border-radius: 5px;
        font-stretch: normal;
        line-height: normal;
        font-family: 'Open Sans', sans-serif
    }

    .modelTextAlign {
        font-family: 'Open Sans', sans-serif;
    }

    .chevronIconAlign {
        color: #08A7DE;
        float: right;
    }

    .codeReviewChevronAlign {
        color: #08A7DE;
        float: right;
    }

    .benefitsChevronAlign {
        color: #08A7DE;
        float: right;
    }

}

.owl-carousel .owl-item {
    transition: all 0.3s ease-in-out;
    margin-top: 1%;
}

.owl-carousel .owl-item .card {
    padding: 30px;
    position: relative;
}

.owl-carousel .owl-stage-outer {
    overflow-y: auto !important;
    padding-bottom: 40px;
    padding-left: 30px;
}

.owl-carousel .owl-item img {
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.owl-carousel .owl-item .card .name {
    position: absolute;
    bottom: -20px;
    left: 33%;
    color: #101c81;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: aquamarine;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    box-shadow: 2px 3px 15px #3c405a;
}

.owl-carousel .owl-item .card {
    opacity: 0.5;
    transform: scale3d(0.8, 0.8, 0.8);
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item.active.center .card {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
    height: 20px;
    background: red !important;
    border-radius: 2px !important;
    opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    height: 13px;
    width: 13px;
    opacity: 1;
    transform: translateY(2px);
    background: #83b8e7 !important;
}

@media(min-width: 480.6px) and (max-width: 575.5px) {
    .owl-carousel .owl-item .card .name {
        left: 24%;
    }
}

@media(max-width: 360px) {
    .owl-carousel .owl-item .card .name {
        left: 30%;
    }
}

.cost-effective-card {
    background: linear-gradient(0deg, rgba(244, 249, 238, 1) 23%, #ffffff 23%) ;
    border-radius: 10%;
    width: 85%;
}
.cost-effective-img-div {
    text-align: -webkit-center;
    margin-top: 5%
}
.card-design {
    background: linear-gradient(0deg, rgba(8, 167, 222, 0.09) 23%, #ffffff 23%) ;
    border-radius: 10%;
    width: 85%;
}
.card-text-carousel {
    font-family: 'Open Sans', sans-serif;
    color: #08A7DE;
    font-weight: 600;
    font-size: 18px;
}
.carousel-img-card-div {
    text-align: -webkit-center; margin-top: 5%
}
.read-more-carousel {
    background: #08A7DE;
    color: white;
    border-radius: 70px;
    height: 47px;
    border: none;
    margin-bottom: -5%
}
.read-less-carousel {
    background: #08A7DE;
    color: white;
    border-radius: 70px;
    height: 47px;
    border: none;
}
